@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.titulo1{
    font-family:'Montserrat',sans-serif;
    font-weight: 600;
    font-size:35px;
}

.textoNaranja{
    color:#ff6827;
}

.boton{
    background-color: #FF6827;
    color: #ffffff;
    border: 0px;
    border-radius: 14px;
    width: 150px;
    height: 33px;
    margin-top: 10px;
    font-family:'Montserrat',sans-serif;
    font-weight: lighter;
}

.recuadroBoton {
    border: 1px solid #ff6827;
    background-color:white;
    color:#ff6827;
    padding: 5px;
    border-radius: 10px;
    width: 178px;
    display:flex;
    justify-content:center;
}
 
.crecue{
    text-align: center;
    margin-bottom: 20px;
}
 
.margenIzquierda
{
    padding-left:40px;
}
 
.oculto{
    visibility: hidden;
    display: none;
}
.visible{
    visibility: visible;
    display: block;
}
 
.fondoLogin {
    background-image: url("../img/imglogin.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.altoLogin {
    height: 45vh;
    max-height: 450px;
}
 
.recuadroLogin {
    border-radius: 45px 45px 0 0;
    background-color: white;
    margin-top: -35px;
}
 
.pt20
{
    padding-top:20%;
}
 
.crear-cuenta-q
{
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    font-size:10px;
}
 
.crear-cuenta
{
    font-family:'Montserrat',sans-serif;
    font-weight:500;
    font-size:10px;
    color:#ff6827;
}
 
.boton-login
{
    font-family:'Montserrat',sans-serif;
    font-weight:400;
    font-size:12px;
}
 
.icon-google
{
    margin-right:5px;
}
 
.navbar
{
    height:50px;
}
 
.fotoperfil
{
    width:110px;
    height:110px;
    border-radius:50%;
}
 
.page-content
{
    text-align:center;
}
 
.perfil
{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.perfil2
{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
}
 
.a
{
    font-family:'Montserrat',sans-serif;
    font-weight: 800;
    font-size:15px;
    color:#ff6827;
}
 
.b
{
    font-family:'Montserrat',sans-serif;
    font-weight:600;
    font-size:12px;
    color:#b1b1b1;
}

.botonPerfil{
    height:40px;
    margin-top:15px;
    font-family:'Montserrat',sans-serif;
    font-weight:500;
    font-size:12px;
    font-weight:400;
    background-color:white;
    border-color:transparent;
    border-radius:15px;
    text-align:start;
    display:flex;
    align-items:center;
    box-shadow:2px 2px 4px rgba(0,0,0,.25);
}

.botonPerfil1
{
    color:black;
}

.botonPerfil2
{
    color:#ff0000;
}

.iconoPerfil1
{
    margin-left:18px;
    margin-right:18px;
    color:#ff6827;
}
 
.iconoPerfil2
{
    margin-left:18px;
    margin-right:18px;
    color:#ff0000;
}
 
.otroperfil
{
    display:flex;
    flex-direction:column;
    margin-left:20px;
}

.botones-login
{

    text-align: center;
}

#sesionGoogle{

    margin: auto;
}

.botonFeed
{
    font-family:'Montserrat', sans-serif;
    font-size:12px;
    font-weight:400;
    width:131px;
    height:30px;
    border-color:transparent;
}

#botonFeed1
{
    border-radius: 7px 0px 0px 7px;
}

#botonFeed2
{
    border-radius: 0px 7px 7px 0px;
    margin-left: -1.1%;
}

.activo
{
    background-color:#ff6827;
    color:white;
    box-shadow:inset 0px 2px 2px rgba(0,0,0,.25);
}

.inactivo
{
    background-color:#e7e7e7;
    color:#ff6827;
    box-shadow:0px 2px 2px rgba(0,0,0,.25);
}

.dobleBoton
{
    text-align:center;
    margin-top:12px;
}

#feeds
{
    text-align:center;
}

#bienvenido
{
    text-align:left;
}

.dobleInputLogin
{
    text-align:center;
}
.botonVolver
{
    text-align:left;
    background-color:transparent;
    color:black;
    font-family:'Montserrat', sans-serif;
    font-size:20px;
    font-weight:500;
    border-color:transparent;
}

.botonesEditarPerfil
{
    text-align:left;
    display:flex;
    border-bottom:1px solid rgba(177,177,177,.5);
    padding:10px 0;
}

.nombreDato
{
    margin-right:40px;
    font-family:'Montserrat',sans-serif;
    font-size:12px;
    font-weight:400;
    color:#ff6827;
    width:80px;
}

.dato
{
    font-family:'Montserrat',sans-serif;
    font-size:12px;
    font-weight:500;
    color:black;
}

.opcionNotif
{
    font-family:'Montserrat',sans-serif;
    font-size:12px;
    font-weight:400;
    margin-left:20px;
}

.margen-derecha
{
    margin-right:20px;
}

.icono-volver
{
    margin-right:10px;
}

.opcionAccesibilidad
{
    text-align:right;
    font-family:'Montserrat',sans-serif;
    font-size:12px;
    font-weight: 500;
    color:#ff6827;
}

.fotoperfil2
{
    border:4px solid #fff;
    position:relative;
    bottom:75px;
    left:20px;
}

#botonMensaje
{
    height:25px;
    width:90px;
    border-radius:7px;
    border-color:transparent;
    font-family:'Montserrat',sans-serif;
    font-size:12px;
    font-weight:400;
    background-color:#ff6827;
    color:white;
}