@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

.titulo1
{
    font-family:'Montserrat',sans-serif;
    font-weight: 700;
    font-size:35px;
}

.textoNaranja
{
    color:#ff6827;
}

.margenIzquierda
{
    padding-left:40px;
}

.oculto{
    visibility: hidden;
    display: none;
}
.visible{
    visibility: visible;
    display: block;
}

.fondoLogin {
    background-image: url("../img/unsplash.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.altoLogin {
    height: 45vh;
    max-height: 450px;
}

.recuadroLogin {
    border-radius: 35px 35px 0 0;
    background-color: white;
    margin-top: -35px;
}

.pt20
{
    padding-top:20%;
}

.crear-cuenta-q
{
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    font-size:10px;
}

.crear-cuenta
{
    font-family:'Montserrat',sans-serif;
    font-weight:500;
    font-size:10px;
    color:#ff6827;
}

.recuadroBoton {
    border: 1px solid #ff6827;
    padding: 5px;
    border-radius: 5px;
}

.icon-google
{
    margin-right:5px;
}